@media only screen and (min-width:350px) and (max-width: 450px) {
    body , h3 , div , ul  {
      max-width:100%;
    }
  
    .profile-image{
      width: 60%;
      margin-right: 20%;
      height: 200px;
      float:right;
      margin-bottom: 30px;
      
      
  }


  .Main-right{
    display: none;
    height: 100%;
    width: 270px;
    position: fixed;
    z-index: 1;
    top: 0;
    right: 0;
    margin-top: 100px;
    background-image:linear-gradient(54deg, rgba(2,0,36,1) 0%, rgba(47,47,207,0.2) 0%, rgba(25,123,229,0.5) 67%, rgba(0,212,255,0.7) 100%),
     url('./../img/sidebar-2.jpg');
  background-size: 170% 100%;
    overflow-x: hidden;
    padding-top: 20px;
    opacity: 1 !important;
  }

  .MainMenuStyle{
  display: flex;
  }
  .MainMenuStyleDiv{
    width: 100%;
    background-color: lightslategray;
    opacity: 0.6;
    position: fixed;
    top: 0;
    left:0;
    overflow-x: hidden;
    height: 100% !important;
  }
  

  .appBar{
    top: 55px !important;
    box-shadow: 0 0 !important;
    display: block !important;
  }
  .overflowcss{
    overflow: visible;
  }

  .search-teacher-btn{
    margin-right: 0;
  }
    .right-mobile{
      padding-left: 0;
      margin-left:0;
    }
    .teacher_category{
      margin-left: 5px;
    }
    
    .containers{
        padding-bottom:250px;
    }
    .containerss{
        padding-bottom:30px;
        padding-top:20px;
    }
    
    .student-info-link{
      margin-right: 30px;
      float:right;
      font-size: 15px;
      font-family: 'Tajawal' !important;
  }

  .hovers:hover{
    background-image: linear-gradient(to bottom left, rgb(198, 240, 176 ), rgb(198, 240, 176 ) , #EAFCE0 , rgb(198, 240, 176 )  , rgb(198, 240, 176 ) );
    color: green;
    cursor: pointer;
    font-size:10px;
    font-family: 'Tajawal' !important;
  }
    .student-info{
        width:300px;
        padding-left: 10px;
        margin-bottom: 0;
        margin-top: 100px;
        display: none;
    }
    
    .info{
      width:98%;
      margin-top: 30px;
      margin-left: 1%;
      min-height: 600px;
      border-radius: 40px;
      border:rgb(172, 170, 170);
      border-width:3px ;
      border-style: solid;
    }
    .info-container{
      padding-bottom: 20px;
      margin-right: 0;
      z-index: 3;
    }
    
    .info-button{
      border:black;
      border-width:3px ;
      border-style: solid;
      padding: 0 40px;
      margin-left: 30px;
      border-radius: 10px;
      height: 40px;
      background-color: inherit !important;
    }
    
    .info-button:hover{
      border:black;
      border-width:3px ;
      border-style: solid;
      padding: 0 40px;
      margin-left: 30px;
      border-radius: 10px;
      height: 40px;
      background-image: linear-gradient(to bottom left, #86bc42, rgb(198, 240, 176 ) , #EAFCE0 , rgb(198, 240, 176 )  ,#86bc42);
    }


    .info-border{
      border:black;
      border-width:3px ;
      border-style: solid;
      padding: 5px 0px;
      margin-left: 0px;
      border-radius: 10px;
      height: 40px;
      width: 150px;
      font-size:12px ;
      text-align: center;
    }
.inpo{
  width: 600px !important;
  float: right !important;
}
.info-uploader{
  cursor: pointer;
  border:black;
  border-width:3px ;
  border-style: solid;
  border-radius: 10px;
  text-align: center;
  height: 40px;
  width: 600px;
  padding-top: 5px;
  padding-right: 10px;
  padding-left: 10px;
  
}


.info-uploader:hover{
  background-image: linear-gradient(to bottom left, #86bc42, rgb(198, 240, 176 ) , #EAFCE0 , rgb(198, 240, 176 )  ,#86bc42);
  cursor: pointer;
  border:black;
  border-width:3px ;
  border-style: solid;
  border-radius: 10px;
  text-align: center;
  height: 40px;
  width: 600px;
  padding-top: 5px;
  padding-right: 10px;
  padding-left: 10px;
}


.info-button:hover{
  margin-top: 15  0px;
}
    .show{
        display:block !important;
    }
    
    .line{
        border-top:black;
        border-block-end-style: solid;
        float:right;
        width:150px;
        margin-right: 30px;
        margin-top:-30px;
        border-block-end-width: 1px;
    }
  
    .float-right{
      margin-left:50px;
      width:300px;
      text-align: right;
    float:right;
    margin-bottom: 0;
  }
  .flexs{
    display:flex;
    text-align: right;
    margin-right:-15px;
    height: 30px;
    margin-top:40px;
    margin-bottom:-40px;
  
  }
  
  .current{
   
    text-align: right;
    margin-top: 10px;
  text-align: center;
  justify-content:center ;
    width: 110px;

  }
  .current-fontsize{
    font-size: 8px !important;
  }
  .adding_exams{
    margin-top: 50px;
  }

  .pull-left{
      float: right !important;
      width: auto !important;
  }
  
  .txt{
    margin-right: 0%; 
    font-size: 15px;
    text-align: center;
  }

  .slider-position{
    margin-top: -300px ; 
    width:500px;
    float:right;

  }
  .button-default{
    font-family: 'Tajawal' !important;
    padding: 0 !important;
      width:130px;
      margin-right: 10px !important;
      font-size: 15px !important;
  }
  
  .size{
    height: 300px;
    margin-top: 0px;
  }

  .choiceflex{
    display: block;
  }

  .title1{
      font-size: 60px !important;
      font-weight: bold;
      font-family:'Lateef', serif !important;
  }
  .header-top::before {
    width:100%!important;
  }
  
  .wid{
    max-width: 95%;
    text-align: left;
  }
  
  
  .pd-f{
    margin-top: 0px !important;
    padding-left:50px;
  }
  
  .resize{
    width:150px !important;
    right:20px !important;
    top:45px  !important;
  }
  .complete-input{
    width:140px !important;
  }
  .board{
    margin:0 0px !important;
    width:100% !important;
  }
  .myList{
    float : left ;
    margin-left:20px;
  }

  .question-input{
    width: 100% !important;
  }

  .input-flexs{
    display: block;
  }
  .input-flex{
    display: flex;
  }
  
  .rearrange {
    margin-left:60px !important;
    
  }

  .addbtndiv{
    text-align: right;
    margin: 20px 0px;
  }
  .btn{
    margin:20px 10px !important;
  }

  .logo{
      display: none;
  }
  .mrl{
    margin-left:0;
  }
.lines{
    width:260px;
    margin-right: 0;
}
.li.active:after{
 left:30%;
}

.removes{
    margin-left: 10px;
    margin-bottom: -30px;
    font-size: 24px;
    padding-top: 25px;
    cursor: pointer;
  }

   /* .warning{
      display: block;
      background-color: black;
      color: blanchedalmond;
      width: 100%;
      overflow: auto;
      overflow-wrap: break-word;
      padding-top: 200px;
      height: 400px;
      text-align: center;
      font-size: 30px;
      top:0;
      left:0;
      right:0;
      bottom:0;
      z-index: 0;
  } 

   .color-white{
      display: none;
  }  */
  .about-container{
    margin-left: 0 !important;
  }
  .row, .col-lg-12 ,.col-md-12{
    margin: 0 !important;
    padding: 0 !important;
  }

  .about-container h3{
    padding-right: 10px;
    font-size: 20px !important;
    font-family: 'Tajawal' !important;
  }
  .modal-body{
    width: 99% !important;
  }
  }